

body{
    font-family: sans-serif;
    background: #e0e0e0;
}

header{
    margin-bottom: 10px;
}

h1{
    text-align: center;
    color: #ffffff;
    text-shadow: 0 1px 4px #888888;
}

/* RGB title */
span:nth-child(1){
    color: #ff0000;
}
span:nth-child(2){
    color: #00ff00;
}
span:nth-child(3){
    color: #0000ff;
}

.wrap{
    padding: 10px;
    width: 500px;
    margin: 0 auto;
}

main{
    padding-bottom: 60px;
}

/* color display */
#color-display{
    padding: 40px;
    box-shadow: 0 0 8px #aaaaaa;
    border-radius: 10px;
}

#color-display::before{
    color: #ffffff;
    text-shadow: 0 0 4px #333333;
}

/* labels */
label{
    padding: 10px;
    width: 50px;
    text-align: center;
    color: #ffffff;
    margin: 4px;
    border-radius: 6px;
    box-shadow: inset 0 0 2px #333333;
}

input[type=number], label{
    display: inline-block;
}

/* number input */
.sliders input[type=number]{
    text-align: center;
    width: 50px;
    padding: 10px 0 10px 10px;
    background: #ffffff;
    margin: 0 10px 0 4px;
    outline: none;
    border: 2px solid transparent;
    border-radius: 6px;
    transition: border 0.2s ease;
    box-shadow: 0 0 2px #333333;
}

.sliders input[type=number]:focus{
    border: 2px solid #508cfc;
}

/* color sliders */
.sliders{
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 0 8px #aaaaaa;
    border: 1px solid #f4f4f4;
    background: #f1f1f1;
    border-radius: 10px;
}

.sliders div{
    padding: 4px;
}

/* range sliders */
.sliders input[type=range]{
    height: 8px;
    border-radius: 10px;
    outline: none;
    width: 100%;
    box-shadow: 0 0 2px #444444, inset 0 0 2px #444444;
}

.sliders input[type=range], input[type=range]::-webkit-slider-thumb{
    appearance: none;
    -webkit-appearance: none;
} 

/* slider thumb */
.sliders input[type=range]::-webkit-slider-thumb{
    height: 20px;
    width: 24px;
    border-radius: 20%;
    cursor: pointer;
    background: #cccccc;
    border: 2px solid #eeeeee;
    box-shadow: 0 0 4px #444444, inset 0 0 2px #444444;
} 

/* icons */
a{
    color: #ffffff;
    transition: color 0.2s ease;
}

a:hover{
    color: #cccccc;
}

/* footer */
footer{
    background: #444444;
    position: absolute;
    bottom: 0;
    padding: 14px 0;
    text-align: center;
    width: 100%;
    color: #ffffff;
}

@media (max-width: 700px){
    .wrap{
        width: 80%;
    }
}
